.navbar {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
}


.navbar-nav{
 display: block;
 font-size: 30px;
 /* min-width: 50px; */
 width: 130px;
}
hr{
 height: 100px;
 background-color: red;
}