.side_nav_bg{
 position: absolute;
width: 256px;
left: 0px;
top: 0px;
bottom: 0px;

/* Secondary/White */

background-color: grey;
/* sidebar shadow */

/* box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06); */
}
.main{
 color: #109CF1;
}
.SaaS_Kit{
 position: absolute;
width: 69px;
height: 26px;
left: 24px;
top: 17px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}
.search_bar{
 position: absolute;
height: 60px;
left: 256px;
right: 0px;
top: 0px;
background-color: grey;
display: flex;
justify-content: center; 
max-height: auto;
}
input{
 max-height: 400%;
}
.profile{
 position: absolute;
width: 208px;
height: 46px;
left: 24px;
top: 85px;


}